{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('passwords_not_matching') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
{% endblock %}
